@font-face {
	font-family: 'NanumGothic Bold';
	src: url('NanumGothic-Bold.eot');
	src: url('NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),  url('NanumGothic-Bold.woff') format('woff'),  url('NanumGothic-Bold.ttf') format('truetype');
}
